
job('job_test_pull_push') {

    description('This is my awesome Job')

  

    scm {
        git('https://github.com/mohammadsereshki/ansible.git', 'main')
    }



    steps {

        wrappers {
            colorizeOutput(colorMap = 'xterm')
      }
        ansiblePlaybook('${workspace}/git_activity/main.yml') {
            inventoryPath('${workspace}/inventory/capex_uat.ini')
            colorizedOutput(true)
            vaultCredentialsId('vault_pass')
            
        }
    }

}
